<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MANAGE_EXTERNAL_STORAGE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_duo_travel_icon"
        android:label="DuoTravel"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuoTravel_v14"
        tools:replace="android:icon"
        tools:ignore="MissingDefaultResource"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.apps.nexuslauncher.ALTERNATE_ICON"
            android:resource="@drawable/alternative_app_duo_travel_icon" />
        <activity
            android:name=".ZdjeciaActivity"
            android:exported="false"
            android:label="@string/title_activity_zdjecia"
            android:theme="@style/Theme.DuoTravel_v14" />
        <activity
            android:name=".DzennikPodrozy"
            android:parentActivityName=".StronaGlowna"
            android:exported="true"></activity>
        <activity
            android:name=".MapyActivity"
            android:exported="true"
            android:label="@string/title_activity_mapy"
            android:theme="@style/Theme.DuoTravel_v14" />
        <activity
            android:name=".StronaGlowna"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCiq7LllmpGf-jKkTYe8mSjRAl1BUxV_p0" />
    </application>

</manifest>